cffi==1.12.2
dask==1.1.3
grpcio==1.19.0
numpy==1.16.2
pandas==0.24.1
Pillow==5.4.1
protobuf==3.7.0
pyyaml==3.13
python-dotenv==0.10.1
requests==2.21.0
scikit-learn==0.20.3
matplotlib==3.0.3
scipy==1.2.0
pytest==4.3.0
selectivesearch==0.4
scikit-image==0.14.2
easydict==1.9
opencv-python==4.0.0.21
Shapely==1.6.4.post2
SimpleCV==1.3
imgaug==0.2.8
azureml-sdk[notebooks,automl]==1.0.17
azure-cognitiveservices-vision-customvision==0.4.0
azure-cognitiveservices-search-imagesearch==1.0.0
notebook==5.7.4
pyzmq==17.1.2