absl-py==0.1.13
adal==0.5.0
asn1crypto==0.24.0
astor==0.6.2
azure==2.0.0
azure-batch==3.0.0
azure-common==1.1.8
azure-datalake-store==0.0.17
azure-graphrbac==0.30.0
azure-iot-edge-dev-tool==0.53.0
azure-iot-edge-runtime-ctl==1.0.0rc17
azure-iothub-device-client==1.1.28.0
azure-iothub-service-client==1.1.0.20
azure-keyvault==0.3.7
azure-mgmt==1.0.0
azure-mgmt-authorization==0.30.0
azure-mgmt-batch==4.0.0
azure-mgmt-cdn==0.30.3
azure-mgmt-cognitiveservices==1.0.0
azure-mgmt-compute==1.0.0
azure-mgmt-containerregistry==0.2.1
azure-mgmt-datalake-analytics==0.1.6
azure-mgmt-datalake-nspkg==2.0.0
azure-mgmt-datalake-store==0.1.6
azure-mgmt-devtestlabs==2.0.0
azure-mgmt-dns==1.0.1
azure-mgmt-documentdb==0.1.3
azure-mgmt-iothub==0.2.2
azure-mgmt-keyvault==0.31.0
azure-mgmt-logic==2.1.0
azure-mgmt-monitor==0.2.1
azure-mgmt-network==1.0.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-rdbms==0.1.0
azure-mgmt-redis==4.1.1
azure-mgmt-resource==1.1.0
azure-mgmt-scheduler==1.1.3
azure-mgmt-sql==0.5.3
azure-mgmt-storage==1.0.0
azure-mgmt-trafficmanager==0.30.0
azure-mgmt-web==0.32.0
azure-nspkg==2.0.0
azure-servicebus==0.21.1
azure-servicefabric==5.6.130
azure-servicemanagement-legacy==0.20.6
azure-storage==0.34.3
bleach==1.5.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.1.4
dask==0.17.2
decorator==4.2.1
docker==2.6.0
docker-pycreds==0.2.1
entrypoints==0.2.3
enum34==1.1.6
gast==0.2.0
grpcio==1.10.0
html5lib==0.9999999
idna==2.6
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
isodate==0.6.0
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
keyring==10.6.0
Markdown==2.6.11
MarkupSafe==1.0
mistune==0.8.3
msrest==0.4.25
msrestazure==0.4.20
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.1
numpy==1.14.2
oauthlib==2.0.6
pandas==0.21.0
pandocfilters==1.4.2
parso==0.1.1
Pillow==5.0.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
pycparser==2.18
Pygments==2.2.0
PyJWT==1.5.3
pyOpenSSL==17.5.0
python-dateutil==2.7.2
python-dotenv==0.7.1
pytz==2018.3
pywin32-ctypes==0.1.2
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
requests-oauthlib==0.8.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
websocket-client==0.46.0
Werkzeug==0.14.1
widgetsnbextension==3.1.4
wincertstore==0.2
jupyterhub==0.7.2
scikit-learn==0.19.1
matplotlib==2.2.2
scipy==1.0.1
pytest==2.9.2
selectivesearch==0.4
scikit-image==0.13.1
easydict==1.7
opencv-python==3.4.0.12
Shapely==1.6
SimpleCV==1.3
# mahotas==1.4.4
# milk==0.6.1
imgaug==0.2.5


